html,
body {
  padding: 0;
  margin: 0;
}

.App {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.split-pane-col {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.split-pane-row {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.split-pane-top,
.split-pane-bottom,
.split-pane-right,
.split-pane-left {
  flex: 1;
  overflow: hidden;
}

/* .split-pane-left {
  width: 1ef
} */

.split-pane-right {
  background-color: rgb(217, 217, 217);
  background-size: 100% 1.2em;
}

.split-pane-top,  
.split-pane-bottom {
  background-color: rgb(156, 104, 169);
  text-align: left;
  padding: 2%;
}

ul {
  margin-left: -2%;
}

ul li {
  margin: 1rem;
  list-style-type: square;
}

ul a {
  text-decoration: none;
  color: darkblue;
  font-size: large;
}

ul a:hover {
  color: black;
}

.tabbed-panel {
  background-color: rgb(255, 255, 255);
  margin-top: 5%;
  min-height: 85%;
  max-height: 95%;
}

h1 {
  color: white
}